/.bundle/
/tmp/
/pkg/
/vendor/bundle/

# Rust
/rust/target/
/rust/README.md

# Platform-specific binaries
/exe/arm64-darwin/
/exe/x86_64-darwin/
/exe/aarch64-linux/
/exe/x86_64-linux/

# Build artifacts
*.o
*.so
*.dylib
*.bundle
*.dSYM/

/ext/yerba/include/yerba.h
/ext/yerba/Makefile
/ext/yerba/mkmf.log
/lib/yerba/yerba.bundle
/lib/yerba/yerba.so

# IDE
.idea/
.vscode/
*.swp
*.swo
